.user-container {
  text-align: center;
  width: 400px;
  margin: 100px auto;
  &__main {
    padding: 20px;
    background-color: rgba(182, 215, 252, 0.7);
    border-radius: 5px;
    .log-titile {
      font-size: 20px;
    }
    input {
      margin-top: 5px;
      padding: 5px 10px;
      width: 90%;
      box-sizing: border-box;
    }
    .sign-btn {
      width: 100px;
      border-radius: 5px;
    }
    .check-box {
      width: 20px;
    }
    .sign-up-btn {
      margin-right: 50px;
    }
  }
}

.require {
  color: white;
  background-color: #000044;
  padding: 2px 10px;
  margin-left: 10px; 
  border-radius: 50px;
}