a {
  text-decoration: none;
  color: black;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  .title-box {
    height: 80px;
    background: linear-gradient(135deg, #030925, #FFF);
    // background-color: #000033;
    .title {
      float: left;
      width: 200px;
      margin: 5px 0 0 15px;
      h1 {
        font-size: 30px;
        color: #FFF;
      }
      .subtitle {
        color: #FFF;
      }
    }
  }
  
}

.nav-ver {
  width: 100%;
  height: 30px;
  background-color: #555;
  box-shadow:2px 2px 2px 2px rgba(0,0,10,0.3);
  .test {
    height: 30px;
    float: left;
    border-right: 1px solid #666;
    a {
      color: #FFF;
      font-size: 18px;
      padding: 0 10px 0 10px;
    }
  }
  .nav-ver-item {
    float: right;
    font-size: 18px;
    &__info {
      height: 30px;
      display: inline-block;
      color: #FFF;
      padding: 0 10px 0 10px;
      border-right: 1px solid #666;
      border-left: 1px solid #666;
    }
    &__user {
      height: 30px;
      float: right;
      color: #FFF;
      padding: 0 15px 0 15px;
      position: relative;
      &__window {
        position: absolute;
        // top: 130px;
        right: 10px;
        padding: 15px;
        width: 150px;
        height: 200px;
        background-color: #555;
        box-shadow:2px 2px 2px 2px rgba(0,0,10,0.3);
        z-index: 1000;
        a {
          color: #FFF;
          text-decoration: none;
        }
      }
    }
  }
}

// :before{
//   border-right: 50px solid transparent;
//   border-bottom: 86.6025px solid #b2ce54;
//   border-left: 50px solid transparent; 
// }