.main-nego {
  margin: 130px auto;
  width: 850px;
  &__container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #F5F5F5;
    border: solid 3px #F5F5F5;
    border-radius: 20px;
  }
}

select {
  height: 30px;
}

.field {
  border-bottom: 2px solid rgb(233, 229, 229);
  margin: 10px auto;
  padding: 10px;
}

.select {
  display: inline-block;
}

.aaaa {
  // border-radius: 10px;
  width: 500px;
  height: 300px;
}

.submit-btn {
  background-color: #F5F5F5;
  border: solid 2px #888;
  margin-left: 400px;
  padding: 0 20px;
}