.main-container {
  margin: 130px 30px auto;
  .important-negotiation {
    margin: 2em 0 0;
    padding: 0.5em 1em;
    &__nothing {
      height: 200px;
      width: 100%;
      margin: 5px;
      border-radius: 5px;
      border: solid 1px rgb(198, 198, 198);
      .nothing-word {
        padding-top: 100px;
        text-align: center;
        font-size: 20px;
      }
    }
    .title-box {
      display: inline-block;
      top: -13px;
      left: 10px;
      padding: 0 9px;
      line-height: 1;
      font-size: 19px;
      font-weight: bold;
    }
    p {
      margin: 0; 
      padding: 0;
    }
  }
  .middle-container {
    .newest-negotiation {
      float: left;
      width: 45%;
      height: 400px;
      padding: 0.5em 1em;
      &__nothing {
        height: 200px;
        width: 100%;
        margin: 5px;
        border-radius: 5px;
        border: solid 1px rgb(198, 198, 198);
        .nothing-word {
          padding-top: 100px;
          text-align: center;
          font-size: 16px;
        }
      }
      .title-box {
        display: inline-block;
        top: -13px;
        left: 10px;
        padding: 0 9px;
        line-height: 1;
        font-size: 19px;
        font-weight: bold;
      }
      p {
        margin: 0; 
        padding: 0;
      }
    }
    .newest-customer {
      float: right;
      width: 45%;
      height: 400px;
      padding: 0.5em 1em;
      &__nothing {
        height: 200px;
        width: 100%;
        margin: 5px;
        border-radius: 5px;
        border: solid 1px rgb(198, 198, 198);
        .nothing-word {
          padding-top: 100px;
          text-align: center;
          font-size: 16px;
        }
      }
      .title-box {
        display: inline-block;
        top: -13px;
        left: 10px;
        padding: 0 9px;
        line-height: 1;
        font-size: 19px;
        font-weight: bold;
      }
      p {
        margin: 0; 
        padding: 0;
      }
    }
  }
}

.customer-box, .nego-box{
  padding: 0.5em 1em;
  margin: 0 0 15px 0;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.customer-box .nego-box p {
  margin: 0; 
  padding: 0;
}