.main-container {
  margin: 110px 30px auto;
  .important-negotiation {
    // position: relative;
    margin: 2em 0 0;
    padding: 0.5em 1em;
    // border: solid 3px #95ccff;
    // border-radius: 8px;
    .title-box {
      // position: absolute;
      display: inline-block;
      top: -13px;
      left: 10px;
      padding: 0 9px;
      line-height: 1;
      font-size: 19px;
      // background: #FFF;
      // color: #95ccff;
      font-weight: bold;
    }
    p {
      margin: 0; 
      padding: 0;
    }
  }
  .middle-container {
    .newest-negotiation {
      float: left;
      width: 45%;
      height: 400px;
      // position: relative;
      padding: 0.5em 1em;
      .title-box {
        // position: absolute;
        display: inline-block;
        top: -13px;
        left: 10px;
        padding: 0 9px;
        line-height: 1;
        font-size: 19px;
        // background: #FFF;
        // color: #95ccff;
        font-weight: bold;
      }
      p {
        margin: 0; 
        padding: 0;
      }
    }
    .newest-customer {
      float: right;
      width: 45%;
      height: 400px;
      // position: relative;
      padding: 0.5em 1em;
      .title-box {
        // position: absolute;
        display: inline-block;
        top: -13px;
        left: 10px;
        padding: 0 9px;
        line-height: 1;
        font-size: 19px;
        // background: #FFF;
        // color: #95ccff;
        font-weight: bold;
      }
      p {
        margin: 0; 
        padding: 0;
      }
    }
  }
}


// .nego-box {
//   margin: 5px 0 0 0;
//   padding: 10px;
//   background-color: #bed9f165;
// }
// .customer-box, .nego-box :first-child{
//   margin: 0 0 15px 0;
// }

.customer-box, .nego-box{
  padding: 0.5em 1em;
  margin: 0 0 15px 0;
  // color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.customer-box .nego-box p {
  margin: 0; 
  padding: 0;
}