= form_with model: @cnt_comment, url: negotiation_continuation_cnt_comments_path, local: true do |f|
  .field
    = f.label :コメント
    %span.require 必須
    %br/
    = f.text_area :body
  
  = f.submit 'コメントする'