= render "shared/header"
.container
  .customer-container
    .customer-container__title
      %h2
        取引先一覧
      = link_to new_customer_path do
        %i.fas.fa-edit
        取引先登録

    .contents
      - @customers.each do |customer|
        = render partial: "customer", locals: { customer: customer }