= render "shared/header"
.main-container
  .important-negotiation
    %span.title-box
      重要取引
    %p
      テスト
  .middle-container
    .newest-negotiation
      %span.title-box
        最近の取引
      %p
        テスト
    .newest-customer
      %span.title-box
        最近追加された取引先
      %p
        テスト



  = link_to "取引先", customers_path
  = link_to "商談記録", new_negotiation_path, data: {"turbolinks" => false}

  .contents
    - @negotiations.each do |negotiation|
      = render partial: "negotiation", locals: { negotiation: negotiation }